/**
 * Colors
 * Blue: #3a68e9
 */

/**
 * General
 */
button, input[type="submit"] {
	background-color: #3a68e9;
	color: #FFF;
}

a {
	color: #3a68e9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

a:hover img {
	text-decoration: none;
}

.clear {
	clear: both;
}

.dropdownContainer {
	background-color:#EEE;
	padding: 10px; 
	border-bottom: 1px solid #AAA;
}

.dropdownContainer h2 {
	margin-top: 0px;
}

/**
 * Header
 */
#header {
	height: 55px;
	background-color: #DDD;
	padding: 10px;
}

#header h1, #header form {
	display: inline;
}

#leftHeader {
	float: left;
}

#rightHeader {
	float: right;
	margin-top:15px;
}

/**
 * Form
 */
form .formRow {
	margin: 3px 0px;
}

form .formRow label {
	display: inline-block;
	width: 125px;
	text-align: right;
	margin-right: 3px;
}

/**
 * Link overview
 */
.link {
	clear: both;
	border-bottom: 1px solid #AAA;
	padding: 10px;
}

.link h2 {
	margin: 0px 0px 5px 0px;
}

.link .votes {
	float: left;
	width: 50px;
	margin-top: 10px;
}

.link .linkInfo {
	float: left;
}

.link .votes span, .link .votes a {
	display: block;
	text-align:center;
}
 